<html>
    <head>
        <title> Admin </title>
    </head>
    <body>
   
    	

    	<div><h1>Hello</h1></div>
        <br> 	
{% for post in posts %}
    <div>
        <p>publié: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

        <p>Can you hear me?</p>
        <br>
        <p> <em> absolutely</em> </p>
        <ul>
        	<li>R</li>
        	<li>O</li>
        	<li>O</li>
        	<li>T</li>
        </ul>
        <div><a href="https://twitter.com/">bouh</a></div>
    </body>
</html>